.todayWeather {
  padding: 50px;
  text-align: center;
  min-height: 90vh;
}

.location {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.temp {
  display: inline-block;
  font-size: 3rem;
  position: relative;
}

.temp::after {
  position: absolute;
  content: "°";
  font-size: 1.5rem;
  top: 5px;
  right: -10px;
}
