.todayWeather {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.377);
}

.location {
  display: flex;
  justify-content: center;
  gap: 2px;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}

.temp {
  font-size: 5rem;
  position: relative;
  font-weight: 200;
  line-height: 1;
}

.weatherDescription {
  padding-top: 2px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.statType {
  color: rgba(255, 255, 255, 0.76);
  font-weight: 200;
  font-size: 0.9rem;
  padding-top: 1px;
}
